$breakpoints: (
  'xs-phone': 321px,
  'phone': 481px,
  'tablet': 767px,
  'desktop': 1024px,
  'widescreen': 1200px
);

// keywords
$media-expressions: (
  'screen': 'screen',
  'print': 'print',
  'handheld': 'handheld',
  'landscape': '(orientation: landscape)',
  'portrait': '(orientation: portrait)',
  'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
  'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

// ligatured operators ≥ ≤

@import 'vendors/include-media';
@import 'vendors/normalize';

@import 'base/variables';
@import 'base/functions';
@import 'base/mixins';
@import 'base/helpers';
@import 'base/reset';
@import 'base/typography';
@import 'base/forms';

@import 'components/index';

@import 'layouts/index';

@import 'blocks/index';

#wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
}

body {
  min-width: 320px; 
  background-color: #f3f3f3;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}
.clearfix:after{
  content: '';
  display: block;
  clear: both;
}
.wrap{
  width: 78%;
  margin: 0 auto;
}
#header{
background-color: #76c7c0;
padding: 28px 10px 0 0;
position: relative;
  &:before{
    content: '';
    position: absolute;
    background-repeat: repeat-x;
    background-image: url(../sourceimages/Path.png);
    z-index: 1;
    width: 100%;
    height: 9px;
    bottom: 0;
  }
  img{
    float: left;
    padding: 0 0 31px 9px;
  }
  nav .active a{
    background-color:rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    box-shadow: 1px 3px rgba(0, 0, 0, .3);
  }
  nav{
    float: right;
    margin-top: -3px;
    li{
      float: left;
      a{
        color: #ffffff;
        padding: 7.5px 13px;
        display: block;
        margin-right: 15px;
        font:{
            family: "Open Sans - Semibold";
            size: 13px;
            weight: 400;
        } 
        line-height: 15.6px;
        text:{
          transform: uppercase;
          decoration: none;
        }
        &:hover, &:active{
          background:  #E8645A;
          border-radius: 5px;
          box-shadow: 1px 3px #E2534B;
          transition: .5s;
        }
      }
      i{
        color: #fff;
        font-size: 14px;
        line-height: 19.2px;
        padding: 10px 13px;
        display: block;
      }
    }
    .fa-search:hover, .fa-search:active{
      background:  #E8645A;
      border-radius: 5px;
      box-shadow: 1px 3px #E2534B;
      transition: .5s;
    }
    .portf{
      position: relative;
      i{
        float: left;
        margin-top: -11px;
        padding-right: 8px;
      }
      a:hover, a:active{
       background:  #E8645A;
       border-radius: 5px;
       box-shadow: 1px 3px #E2534B;
       transition: .5s;
      }
    }
    .portf .portl_li {
      position: absolute;
      top: 45px;
      background:  #E2534B;
      border-radius: 5px;
      height: 0;
      overflow: hidden;
      z-index: 2;
    }
    .portf .portl_li li{
      float: none;
      margin: 6.5px 5px;
      a{
        min-width: 190px;
        background: #E8645A;
        padding-left: 0;
        margin-right: 0;
        text-transform: none;
        &:hover{
          background-color: #76c7c0;
          border-radius: 5px;
          transition: .5s;
        }
      }
    }
    .portf:hover .portl_li{
      height: 116px;
      transition: height .5s ease-out 0.5s;
    }
  }
}

#main{
  .slider{
    position: relative;
    .owl-nav{
      position: absolute;
      top: 50%;
      width: 100%;
    }
    .owl-dots button span{
      width: 60px;
      height: 5px;
      background-color: #b0b8b9;
      margin: 21px 10px 0 0;
    }
    .owl-theme .owl-dots .owl-dot.active span{
      background-color: #e2534b;
    }
    .owl-prev, .owl-next{
      width: 50px;
      height: 57px;
      background:#E8645A;
      box-shadow: 0px 3px 0px 0px #e2534b;
      margin: 0; 
    }
    .owl-prev{
      float: left;
      position: reletive;
      border-radius: 0 3px 3px 0;
      &:before{
        content: '';
        position: absolute;
        background-image: url(../sourceimages/angle-double-left-solid.svg);
        width: 22px;
        height: 23px;
        top: 36%;
        left: 10px;
      }
    }
    .owl-next{
      float: right;
      position: reletive;
      border-radius: 3px 0 0 3px;
      &:before{
        content: '';
        position: absolute;
        background-image: url(../sourceimages/angle-double-left-solid.svg);
        width: 22px;
        height: 23px;
        transform: rotate(180deg);
        top: 36%;
        right: 10px;
      }
    }
    .slogan{
      position: absolute;
      text-align: center;
      z-index: 5;
      top: 46%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      span{
        color: #ffffff;
        font-family: "Open Sans - Extrabold";
        font-size: 50px;
        font-weight: 400;
        line-height: 60px;
        text-transform: uppercase;
        background-color: #e2534b;
        padding: 0 13px;
        border-radius: 3px;
      }
      p{
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 16px;
        font-weight: 400;
        line-height: 25.6px;
        background-color: rgba(0, 0, 0, .5);
        margin-top: 10px;
        padding: 8px 38px;
        border-radius: 3px;
      }
    }
  }
  .services{
    margin-top: 10px;
    article{
      background-color: #ececec;
      border-radius: 5px;
    }
    .text_top_services{
      float: left;
      padding: 23px 0 20px 27px;
    h2{
      color: #7f8c8c;
      font-family: "Open Sans - Semibold";
      font-size: 30px;
      font-weight: 400;
      line-height: 36px;
    }
    p{
      color: #777777;
      font-family: "Open Sans";
      font-size: 11px;
      font-weight: 400;
      line-height: 20.8px;
    }
  }
  .view_more{
    float: right;
    padding: 23px 34px 0 0;
    a{
      color: #ffffff;
      font-family: "Open Sans - Semibold";
      font-size: 20px;
      font-weight: 400;
      text-transform: uppercase;
      display: inline-block;
      text-decoration: none;
      background-color: #76c7c0;
      box-shadow: 0px 3px 0px 0px #62bdbd;
      transition: 0.5s;
      border-radius: 5px;
      padding: 15px 45px;
      &:hover{
        background-color: #e8645a;
        box-shadow: 0px 3px 0px 0px #e2534b;
      }
    }
  }
  }
  .advantage{
    margin-top: 50px;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    text-align: center;
    margin-bottom: 100px;
    article{
      width: 23%;
      background-color: #f8f8f8;
      border-radius: 5px;
      box-shadow: 0 3px #e5e6e6;
      position: relative;
      &:hover{
        background: #fff;
      }
     i{
        color: #62bdbd;
        font-size: 60px;
        line-height: 7.2px;
        padding: 48px 0 0 0;
      }
     h3{
        color: #7f8c8c;
        font-family: "Open Sans - Extrabold";
        font-size: 16px;
        font-weight: 400;
        line-height: 19.2px;
        text-transform: uppercase;
        padding: 17px 0 36px 0;
     }
     p{
        color: #777777;
        font-family: "Open Sans";
        font-size: 13px;
        font-weight: 400;
        line-height: 20.8px;
        padding: 0 17px 88px 17px;
     }
     a{
      position: absolute;
      color: #ffffff;
      font-family: "Open Sans - Semibold";
      font-size: 14px;
      font-weight: 400;
      line-height: 16.8px;
      padding: 18px 65px 19px 65px;
      background-color: #76c7c0;
      box-shadow: 0px 3px 0px 0px #62bdbd;
      transition: 0.5s;
      border-radius: 5px;
      display: block;
      text-decoration: none;
      transform: translateY(50%);
      bottom: 0;
      left: 13%;
     }
    }
  }
  article:hover a{
    background: #e8645a;
    box-shadow: 0px 3px 0px 0px #e2534b;
  }
  article:hover i{
    color: #e8645a;
  }
  
}
